substitutions:
  name: esp32-bluetooth-proxy-edc0c8
  friendly_name: Bluetooth Proxy Cave (edc0c8)

packages:
  esphome.bluetooth-proxy: github://esphome/bluetooth-proxies/esp32-generic/esp32-generic.yaml@main
  base: !include common/base.yaml


esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  name_add_mac_suffix: false

api:
  encryption:
    key: 0vVYJz0UISdnRYx4pt0VLnlY9GBRgPwoEJu5ztC80Ow=

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: ${name} AP
    password: !secret wifi_password