esphome:
  name: esphome-web-129fa8
  friendly_name: Breadboard
  min_version: 2025.11.0
  name_add_mac_suffix: false
  on_boot:
    - priority: 250
      then:
        - lambda: |-
            id(last_active) = millis() / 1000;
            id(wake_button_processed) = false;

            auto cause = esp_sleep_get_wakeup_cause();
            if (cause == ESP_SLEEP_WAKEUP_EXT0) {
              ESP_LOGI("main", "Device woke up by EXT0");
            } else if (cause == ESP_SLEEP_WAKEUP_TIMER) {
              ESP_LOGD("main", "Device woke up by timer.");
            } else {
              ESP_LOGD("main", "Device woke up by other cause: %d", cause);
            }

esp32:
  variant: esp32
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: True

globals:
  - id: last_active
    type: int
    restore_value: no
    initial_value: '0'
  - id: wake_button_processed
    type: bool
    restore_value: no
    initial_value: 'false'
script:
  - id: reset_idle_timer
    then:
      - lambda: |-
          id(last_active) = millis() / 1000;

deep_sleep:
  id: deep_sleep_ctrl
  sleep_duration: 2800 min
  wakeup_pin:
    number: GPIO0
    inverted: true
    allow_other_uses: true

interval:
  - interval: 60s
    then:
      - if:
          condition:
            lambda: return (millis() / 1000) - id(last_active) >= 1200;
          then:
            - deep_sleep.enter: deep_sleep_ctrl

# BUTTONS
binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode:
        input: true
        pullup: true
      inverted: true
      allow_other_uses: true
    name: "Power"
    id: power
    internal: true
    on_press:
      then:
        - script.execute: reset_idle_timer
        - homeassistant.event:
            event: esphome.remote_button_pressed
            data: {button: "power", type: "single"}

  - platform: gpio
    pin:
      number: GPIO2
      mode:
        input: true
        pullup: true
      inverted: true
    name: "Back"
    id: back
    internal: true
    on_multi_click:
      - timing:
          - ON for at most 350ms
        then:
          - script.execute: reset_idle_timer
          - homeassistant.event:
              event: esphome.remote_button_pressed
              data: {button: "back", type: "single"}
      - timing:
          - ON for at least 500ms
        then:
          - script.execute: reset_idle_timer
          - homeassistant.event:
              event: esphome.remote_button_pressed
              data: {button: "back", type: "long"}
